*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-image: url('../img/cpontos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#site{
  height: 100%;
  position: relative;
}

#cabecalho{
  height: 10rem;
  width: 100vw;
  background-image: url('../img/logo-pmvv.png');
  background-size: 300px 100px, cover;
  background-position: center;
  background-repeat: no-repeat;
}

#sair{
    background-color: #dfdfdf;
    text-decoration: none;
    color: #ce0101;
    font-weight: bold;
    border: 2px solid rgb(214, 0, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
}

#sair:hover{
    background-color: #e90a0ad7;
    box-shadow: 5px 5px 5px rgba(255, 253, 253, 0.164);
    color: #FFFFFF;
}


a{
  background-color: #dfdfdf;
  text-decoration: none;
  color: #075AA9;
  border: 1px solid black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.527);
}

a:hover{
    background-color: #0aa2e9e5;
    box-shadow: 5px 5px 5px rgba(255, 253, 253, 0.164);
    color: #FFFFFF;
}

footer{
  position: relative;
  bottom: -1vh;
  width: 100vw;
  margin-top: 1rem;
}

footer p{
  font-size: .8rem;
  font-weight: lighter;
  color: white;
  width: 100%;
  padding: 10px;
}

.fade-in {
  opacity: 0;
  transform: scale(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: scale(100%)
}

/* Estilo do pop-up */
.popup {
  display: none; /* Inicialmente escondido */
}

/* Estilo da caixa do conteúdo do pop-up */
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  max-width: 500px;
  text-align: center;
}

/* Estilo do botão de fechar */
.close-btn {
  font-size: 30px;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}